/* Reset and Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif; /* Set global font */
  box-sizing: border-box;
  line-height: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input:focus {
  outline: none;
}

/* React Datepicker Styles */
.react-datepicker-wrapper,
.react-datepicker-wrapper input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0;
}

.react-datepicker-popper {
  z-index: 100000 !important;
}

/* Tab Panel Animation */
.tab-panel--selected {
  animation-name: tabPanel;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes tabPanel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}

/* PS Menu and Sidebar Styles */
.ps-menu-icon {
  width: unset !important;
  min-width: unset !important;
  justify-content: start !important;
  margin: 0 !important;
}

.ps-menu-button,
.ps-menu-icon {
  height: unset !important;
}

.ps-menu-button:hover {
  background-color: unset !important;
}

.ps-sidebar-container,
.ps-submenu-content {
  background-color: transparent !important;
  overflow: unset;
}

.ps-collapsed .ps-menu-icon {
  min-width: 100% !important;
  justify-content: center !important;
}

.ps-collapsed {
  width: 80px !important;
}

.ps-sidebar-container {
  width: 7.5vw !important;
}
,
.ps-menu-root,
.ps-menu-root > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ps-sidebar-root {
  width: 7.5vw !important;
  min-width: unset !important;
}

.ps-collapsed,
.ps-collapsed .ps-menu-root,
.ps-collapsed .ps-menu-button {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: unset !important;
  margin-right: unset !important;
}

.ps-collapsed ul {
  align-items: center;
}

.ps-menu-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ps-sidebar-container::-webkit-scrollbar {
  width: 0px;
}
